fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
pydantic-settings==2.7.1
opencv-python==4.10.0.84
mediapipe==0.10.18
numpy==1.26.4
moviepy==1.0.3
ffmpeg-python==0.2.0
librosa==0.10.2.post1
soundfile==0.12.1
openai==1.59.7
